.experience-container-06 {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header-06 {
 margin: 50px 50px 0 50px;
 text-align: left;
 margin-bottom: 1rem;
}

.header-06 span {
  font-size: 18px;
  color: #888;
  
}

.header-06 h2 {
  margin-top: 15px;
  font-size: 35px;
  font-weight: normal;
}
.Line-06{
  width: 100%;
  background-color: #333;
}

.add-experience-card-06 {
  width: 380px;
  height: 250px;
  border: 1px dashed #b3c7ce;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 0px 50px;
  flex-direction: column;
  background-color: #f5fafa;
  position: relative;
  border-radius: 1.5rem;
}

.add-button-06 {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.add-button-06:hover{
  cursor: pointer;
  background-color: #333;
}
.Add-06{
  font-weight: 600;
  color: black;
}

.add-button-06 span {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.add-experience-card-06 p {
  color: black;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

.footer-06 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18rem;
}

.footer-right-06 {
  display: flex;
  align-items: center;
}



.back-button-06 {
  background-color: #e0e0e0;
  color: #333;
  margin-left: 10px;
  width: 100px;
  background-color: white;
  border: 1px solid #c1f1f1;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.back-button-06:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.skip-button-06 {
  background-color: transparent;
  color: black;
  font-weight: 500;
  margin-right: 10px;
  width: 100px;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
.skip-button-06:hover{
  background-color: black;
  color: white;
}

.next-button-06 {
  background-color: #d9e7ef;
  color: black;
  margin-right: 10px;
  width: 100px;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.next-button-06:hover{
  cursor: pointer;
  background-color:#007bff;
  color: white;
}